PORT=3000
MONGODB_URI=your_mongodb_atlas_uri
APIFY_API_TOKEN=your_apify_api_token
PUBLIC_URL=https://your-app-on-render.com
APIFY_LIKES_ACTOR_IDS=datadoping/instagram-likes-scraper
APIFY_COMMENTS_ACTOR_IDS=apify/instagram-comment-scraper,apify/instagram-api-scraper
